{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="">
            You are already logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="underline decoration-red-700">Logout</a>
        </div>
    {% else %}
        <section class="flex flex-col items-center justify-center ">
            <h1 class="font-bold text-3xl my-5">Sign in</h1>
            <form method="post" action="{{ path('app_login') }}" class="flex flex-col items-center justifuy-center gap-y-3">
                <label for="username" class="w-full">
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="border rounded-lg px-2 py-1 w-full placeholder:text-black/85" autocomplete="username" placeholder="Username" required autofocus>
                </label>
                <label for="password" class="w-full">
                    <input type="password" name="_password" id="password" class="border rounded-lg px-2 py-1 w-full placeholder:text-black/85" placeholder="Password" autocomplete="current-password" required>
                </label>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="checkbox">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
                <div class="mb-3">
                    <a href="{{ path('app_forgot_password_request') }}" class="underline-offset-2">Mot de passe oublié ?</a>
                </div>
                <button class="border bg-amber-500 px-3 py-2 w-full font-semibold rounded-xl" type="submit">
                    Sign in
                </button>
                 <p>
                    Besoin d'un compte ?
                    <a href="{{ path('app_register') }}" class="underline">En créer un</a>
                </p>
            </form>
        </section>
    {% endif %}

{% endblock %}
