{% extends "base.html.twig" %}

{% block title %}Accueil d'app{% endblock %}

{% block body %}

<div class="flex flex-wrap justify-center sm:justify-start gap-5">
{% for boat in boatsList %}
    <twig:BoatCard image="{{ boat.pictureFileName }}" title="{{ boat.title }}" price="{{ boat.price}}" brand="{{ boat.brand }}" type="{{ boat.boatType }}" id='{{ boat.id }}' />
{% endfor %}
</div>

{% endblock %}