<nav class="bg-gray-800">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-16 items-center justify-between">
			<div
				class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button-->
				<button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
					<span class="absolute -inset-0.5"></span>
					<span class="sr-only">Open main menu</span>
					<!--
					            Icon when menu is closed.
					
					            Menu open: "hidden", Menu closed: "block"
					          -->
					<svg class="block h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
					</svg>
					<!--
					            Icon when menu is open.
					
					            Menu open: "block", Menu closed: "hidden"
					          -->
					<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
					</svg>
				</button>
			</div>
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
				<a href="{{ path('app_index') }}" class="flex flex-shrink-0 items-center text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewbox="0 0 512 512">
						<path fill="currentColor" d="M482.2 66.37c-62.8 22.61-139.5 57.53-219.3 96.03H408c31.3-31.8 55-66.02 74.2-96.03m9.1 18.91C462.4 129.7 423 182.1 363.8 223.3c-67.2 46.8-159.8 78.3-288.82 66.9c2.19 55.4 28.92 97.4 67.92 143.7c184.6-62.2 266.8-127.6 306-191.2c32.4-52.7 35.9-105.4 42.4-157.42M226 180.4c-9.5 4.7-19.1 9.4-28.6 14.1h175c5.8-4.6 11.3-9.3 16.7-14.1zm-64.8 32.1c-33.3 16.7-66.19 33.2-98.25 49.4c.26.1.52.3.77.4c4.1 2.4 7.87 5.7 10.24 9.9c123.04 11.6 209.84-17 273.84-59.7zm-121.63 62c-6.3 0-11.89 1.6-15.22 3.5s-3.62 3.3-3.62 3.4s.29 1.5 3.62 3.4s8.92 3.5 15.22 3.5s11.89-1.6 15.22-3.5s3.62-3.3 3.62-3.4s-.29-1.5-3.62-3.4s-8.92-3.5-15.22-3.5m18.34 28.7c-5.5 2-11.72 3.1-18.34 3.1c-4.33 0-8.48-.5-12.38-1.4c2.45 28.1 12.83 60.1 26.72 86.3c9.54 18.1 20.63 33.5 30.85 43.1c10.22 9.7 18.54 12.4 22.94 11q8.55-2.7 16.8-5.4c-34.9-42.2-61.13-84.1-66.59-136.7"/>
					</svg>
					Canoë à la Vente
				</a>
				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						{# <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a> #}
						<a href="{{ path('app_new_ad') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Déposer une annonce</a>
					</div>
				</div>
			</div>
			<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
				<!-- Profile dropdown -->
				<div class="relative ml-3 profil">

					{% if app.user %}

					<button type="button" class="dropdown-btn" aria-expanded="false" data-is-authenticated="{{ app.user ? 'true' : 'false' }}" tabindex=0>
						{{ _self.menu_icon() }}
					</button>
					<div id="dropdown" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg
						ring-1 ring-black ring-opacity-5 focus:outline-none"
						role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
					>
						<!-- Active: "bg-gray-100", Not Active: "" -->
						<a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">
							Vos annonces
						</a>
						<a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">
							Sign out
						</a>
					</div>

					{% else %}

					<form action="{{ path('app_login') }}">
						<button class="dropdown-btn"
							type="submit" id="user-menu-button" aria-expanded="false" aria-haspopup="true"
						>
							{{ _self.menu_icon() }}
						</button>
					</form>
					
					{% endif %}

					<!--
					            Dropdown menu, show/hide based on menu state.
					
					            Entering: "transition ease-out duration-100"
					              From: "transform opacity-0 scale-95"
					              To: "transform opacity-100 scale-100"
					            Leaving: "transition ease-in duration-75"
					              From: "transform opacity-100 scale-100"
					              To: "transform opacity-0 scale-95"
					          -->
					
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile menu, show/hide based on menu state. -->
	<div class="sm:hidden" id="mobile-menu">
		<div class="space-y-1 px-2 pb-3 pt-2">
			<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
			{# <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a> #}
			<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Déposer une annonce</a>
		</div>
	</div>
</nav>

{% macro menu_icon() %}
<span class="sr-only">{{ app.user ? 'Ouverture du menu de compte' : "Connexion" }}</span>
<svg xmlns="http://www.w3.org/2000/svg" class="text-white" width="2em" height="2em" viewbox="0 0 24 24">
	<path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
</svg>
{% endmacro %}